<div class="container mt-4">
  <table class="table table-striped">
    <thead>
    <tr>
      <th [width]="'10%'">ID</th>
      <th [width]="'45%'">Coin</th>
      <th [width]="'15%'">Amount</th>
      <th [width]="'15%'">EUR value</th>
      <th [width]="'15%'">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let line of portfolioLines$ | async"
        [formGroup]="lineEditForm">
      <td>
        {{ line.id }}
      </td>
      <td>
        <span *ngIf="!(editing && lineEditForm.get('id')?.value === line.id)">
          {{ (coins$ | async | findCoinById: line.coinId)?.name }}
        </span>
        <select *ngIf="editing && lineEditForm.get('id')?.value === line.id"
                class="form-select"
                formControlName="coinId">
          <option hidden [value]="''">Select coin</option>
          <option *ngFor="let coin of coins$ | async"
                  [value]="coin.id">
            {{ coin.name }}
          </option>
        </select>
      </td>
      <td>
        <div *ngIf="!(editing && lineEditForm.get('id')?.value === line.id)">
          <strong>{{ line.amount }}</strong>
        </div>
        <input *ngIf="editing && lineEditForm.get('id')?.value === line.id"
               type="number"
               min="0"
               step="0.01"
               class="form-control"
               formControlName="amount">
      </td>
      <td>
        {{ line.amount * Number((getEurValueByAcronym(String((coins$ | async | findCoinById: line.coinId)?.acronym)) | async)?.EUR) | currency:'EUR':'symbol':'1.2-2' }}
      </td>
      <td>
        <div class="d-flex gap-3" *ngIf="!(editing && lineEditForm.get('id')?.value === line.id)">
          <a type="button"
             (click)="editLine(line)"
             (keyup.enter)="editLine(line)"
             tabindex="0"
             title="Edit">
            <i class="bi bi-pencil"></i>
            Edit
          </a>
          <a type="button"
             (click)="deleteLine(line.id)"
             (keyup.enter)="deleteLine(line.id)"
             tabindex="0"
             title="Delete">
            <i class="bi bi-trash"></i>
            Delete
          </a>
        </div>
        <div class="d-flex gap-3" *ngIf="editing && lineEditForm.get('id')?.value === line.id">
          <a type="button"
             (click)="updateLine()"
             (keyup.enter)="updateLine()"
             tabindex="0"
             title="Update">
            <i class="bi bi-save"></i>
            Save
          </a>
          <a type="button"
             (click)="cancelEditLine()"
             (keyup.enter)="cancelEditLine()"
             tabindex="0"
             title="Cancel">
            <i class="bi bi-x"></i>
            Cancel
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <h3 class="mt-5"><span class="text-gradient">Add currency</span></h3>
  <form [formGroup]="lineForm" (ngSubmit)="createLine()">
    <div class="row">
      <div class="col-6">
        <label for="coinId" class="form-label">Coin</label>
        <select class="form-select"
                id="coinId"
                formControlName="coinId">
          <option hidden [value]="''">Select coin</option>
          <option *ngFor="let coin of coins$ | async"
                  [value]="coin.id">
            {{ coin.name }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <label for="amount" class="form-label">Amount</label>
        <input type="number"
               min="0"
               step="0.01"
               class="form-control"
               id="amount"
               placeholder="0.0"
               formControlName="amount">
      </div>
      <button type="submit"
              [disabled]="!lineForm.valid"
              class="col-2 mt-3 align-self-center btn btn-primary">
        Add
      </button>
    </div>
  </form>
</div>
