<div class="container mt-4">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Portfolio ID</th>
      <th>Coin ID</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let line of portfolioLines$ | async">
      <td>{{ line.id }}</td>
      <td>{{ line.portfolioId }}</td>
      <td>{{ line.coinId }}</td>
      <td>{{ line.amount }}</td>
      <td>
        <div class="d-flex gap-3">
          <a type="button"
             (click)="editLine(line.id)"
             title="Edit">
            <i class="bi bi-pencil"></i>
            Edit
          </a>
          <a type="button"
             (click)="deleteLine(line.id)"
             title="Delete">
            <i class="bi bi-trash"></i>
            Delete
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
