<div class="container mt-4">
  <table class="table table-striped">
    <thead>
    <tr>
      <th [width]="'15%'">ID</th>
      <th [width]="'60%'">Name</th>
      <th [width]="'25%'">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let portfolio of portfolios$ | async"
        [formGroup]="portfolioEditForm">
      <td>
        {{ portfolio.id }}
      </td>
      <td>
        <span *ngIf="!editing || portfolioEditForm.get('id')?.value !== portfolio.id">
          {{ portfolio.name }}
        </span>
        <input *ngIf="editing && portfolioEditForm.get('id')?.value === portfolio.id"
               type="text"
               class="form-control"
               [ngClass]="{'is-invalid': portfolioEditForm.get('name')?.invalid && portfolioEditForm.get('name')?.touched}"
               formControlName="name">
      </td>
      <td>
        <div class="d-flex gap-3" *ngIf="!editing || portfolioEditForm.get('id')?.value !== portfolio.id">
          <a type="button"
             routerLink="/portfolios/{{ portfolio.id }}"
             title="View">
            <i class="bi bi-eye"></i>
            View
          </a>
          <a type="button"
             (click)="editPortfolio(portfolio)"
             title="Edit">
            <i class="bi bi-pencil"></i>
            Edit
          </a>
          <a type="button"
             (click)="deletePortfolio(portfolio.id)"
             title="Delete">
            <i class="bi bi-trash"></i>
            Delete
          </a>
        </div>
        <div class="d-flex gap-3" *ngIf="editing && portfolioEditForm.get('id')?.value === portfolio.id">
          <a type="button"
             (click)="updatePortfolio()"
             title="Save">
            <i class="bi bi-save"></i>
            Save
          </a>
          <a type="button"
             (click)="cancelEditPortfolio()"
             title="Cancel">
            <i class="bi bi-x-circle"></i>
            Cancel
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <h3 class="mt-5"><span class="text-gradient">Add portfolio</span></h3>
  <form [formGroup]="portfolioForm" (ngSubmit)="createPortfolio()">
    <div class="row">
      <div class="col-10">
        <label for="name" class="form-label">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Portfolio name"
               formControlName="name">
      </div>
      <button type="submit"
              [disabled]="!portfolioForm.valid"
              class="col-2 mt-3 align-self-center btn btn-primary">
        Add
      </button>
    </div>
  </form>
</div>
