<div class="container mt-4">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Acronym</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currency of currencies$ | async">
      <td>{{ currency.id }}</td>
      <td>{{ currency.acronym }}</td>
      <td>{{ currency.name }}</td>
      <td class="d-flex gap-3">
        <a type="button"
                (click)="editCurrency(currency.id)"
                title="Edit">
          <i class="bi bi-pencil"></i>
          Edit
        </a>
          <a type="button"
                (click)="deleteCurrency(currency.id)"
                title="Delete">
          <i class="bi bi-trash"></i>
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
