<div class="container mt-4">
  <table class="table table-striped">
    <thead>
    <tr>
      <th [width]="'10%'">ID</th>
      <th [width]="'10%'">Acronym</th>
      <th [width]="'50%'">Name</th>
      <th [width]="'10%'">EUR</th>
      <th [width]="'20%'">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let currency of currencies$ | async"
        [formGroup]="currencyEditForm">
      <td>
        {{ currency.id }}
      </td>
      <td>
        <span *ngIf="!(editing && currencyEditForm.get('id')?.value === currency.id)">
          {{ currency.acronym }}
        </span>
        <input *ngIf="editing && currencyEditForm.get('id')?.value === currency.id"
               type="text"
               class="form-control"
               [ngClass]="{'is-invalid': currencyEditForm.get('acronym')?.invalid}"
               oninput="value = value.toUpperCase()"
               formControlName="acronym">
        <div *ngIf="currencyEditForm.get('acronym')?.invalid"
             class="invalid-feedback">
          Invalid acronym
        </div>
      </td>
      <td>
        <span *ngIf="!(editing && currencyEditForm.get('id')?.value === currency.id)">
          {{ currency.name }}
        </span>
        <input *ngIf="editing && currencyEditForm.get('id')?.value === currency.id"
               type="text"
               class="form-control"
               [ngClass]="{'is-invalid': currencyEditForm.get('name')?.invalid}"
               formControlName="name">
        <div *ngIf="currencyEditForm.get('name')?.invalid"
             class="invalid-feedback">
          Invalid name
        </div>
      </td>
      <td>
        {{ (getEurValueByAcronym(currency.acronym) | async)?.EUR | currency:'EUR':'symbol':'1.2-2' }}
      </td>
      <td>
        <div class="d-flex gap-3" *ngIf="!(editing && currencyEditForm.get('id')?.value === currency.id)">
          <a type="button"
             (click)="editCurrency(currency)"
             title="Edit">
            <i class="bi bi-pencil"></i>
            Edit
          </a>
          <a type="button"
             (click)="deleteCurrency(currency.id)"
             title="Delete">
            <i class="bi bi-trash"></i>
            Delete
          </a>
        </div>
        <div class="d-flex gap-3" *ngIf="editing && currencyEditForm.get('id')?.value === currency.id">
          <a type="button"
             (click)="updateCurrency()"
             title="Save">
            <i class="bi bi-save"></i>
            Save
          </a>
          <a type="button"
             (click)="cancelEditCurrency()"
             title="Cancel">
            <i class="bi bi-x-circle"></i>
            Cancel
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <h3 class="mt-5"><span class="text-gradient">Add currency</span></h3>
  <form [formGroup]="currencyForm" (ngSubmit)="createCurrency()">
    <div class="row">
      <div class="col-4">
        <label for="acronym" class="form-label">Acronym</label>
        <input type="text"
               class="form-control"
               id="acronym"
               oninput="value = value.toUpperCase()"
               placeholder="BTC"
               [ngClass]="{'is-invalid': currencyForm.get('acronym')?.invalid && currencyForm.get('acronym')?.value}"
               formControlName="acronym">
        <div *ngIf="currencyForm.get('acronym')?.invalid && currencyForm.get('acronym')?.value"
             class="invalid-feedback">
          Invalid acronym
        </div>
      </div>
      <div class="col-6">
        <label for="name" class="form-label">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="Bitcoin"
               [ngClass]="{'is-invalid': currencyForm.get('name')?.invalid && currencyForm.get('name')?.value}"
               formControlName="name">
        <div *ngIf="currencyForm.get('name')?.invalid && currencyForm.get('name')?.value"
             class="invalid-feedback">
          Invalid name
        </div>
      </div>
      <button type="submit"
              [disabled]="!currencyForm.valid"
              class="col-2 mt-3 align-self-center btn btn-primary">
        Add
      </button>
    </div>
  </form>
</div>
